Node-REDFlows/flows.json
[{"id":"dfac6e29.2f5fb","type":"tab","label":"RunScheduleMDT_MTF","disabled":false,"info":""},{"id":"d2bc125e.65dc5","type":"function","z":"dfac6e29.2f5fb","name":"prepareCalls","func":"/*\nTo use Building Insights APIs, a bearer token must first be obtained.\nThe Bearer token is obtained by invoking a login API using a POST method.\nThe API payload is an object with username and password.\nIf correct, the API returns a payload object that will contain a valid token\nfor subsequent authentication.\n*/\n\n/* Set flow variables */\nflow.set(\"serverURL\", \"https://mdtdemoserver.internal.simioportal.com\");\nflow.set(\"pat\", \"eyJ1Ijoic2NoZWR1bGVyQHNpbWlvLmNvbSIsInQiOiJaQ2xkQ0xWUDBmcGxoZVRvOTN3NDlwN1RCbVN5bk1SQnFhVzhjOTJpdU1jQUYzcklXRWY1eHVUZGdNL2lORTlFdFF3QW03OVNJTXRkczYyNmVXdXhOZz09In0=\");\nflow.set(\"projectName\", \"AVEVAMES_MixTankFill\");\nflow.set(\"publishName\", \"MixTankFillPublishSchedule\");\nflow.set(\"publishDesc\", \"MixTankFillPublishScheduleDesc\");\n\n// set login API here\nvar loginAPI = flow.get(\"serverURL\") + \"/api/RequestToken\";\n\nmsg.method = \"POST\";\nmsg.url = loginAPI;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\n// set username and password here from Welcome Letter\nmsg.payload = {\n  \"PersonalAccessToken\":\"\" + flow.get(\"pat\") + \"\",\n  \"Purpose\": \"PublicAPI\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":80,"wires":[["f226d3a7.d59"]]},{"id":"f226d3a7.d59","type":"http request","z":"dfac6e29.2f5fb","name":"getBearerToken","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4ae5d73d.91a7e8","persist":false,"proxy":"","authType":"","x":480,"y":80,"wires":[["7232bea5.deab9"]]},{"id":"7232bea5.deab9","type":"switch","z":"dfac6e29.2f5fb","name":"ifTokenReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":140,"wires":[["42af4b86.341dd4"],["2682522d.18fc4e"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"42af4b86.341dd4","type":"function","z":"dfac6e29.2f5fb","name":"setToken","func":"// if we got to this node, then we got a token, save it to the flow\nvar token = \"\";\ntoken = \"Bearer \" + msg.payload.Token;\nflow.set(\"token\", token);\nmsg.payload.Token = token;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":140,"wires":[["b3d0d5b0.482b58","562f6864.be6958"]]},{"id":"2682522d.18fc4e","type":"debug","z":"dfac6e29.2f5fb","name":"noToken","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":180,"wires":[]},{"id":"b3d0d5b0.482b58","type":"debug","z":"dfac6e29.2f5fb","name":"tokenReceived","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":80,"wires":[]},{"id":"23a1576e.c39378","type":"comment","z":"dfac6e29.2f5fb","name":"STEP 1 - Obtain Bearer token.","info":"","x":140,"y":40,"wires":[]},{"id":"e480f8e9.fde338","type":"comment","z":"dfac6e29.2f5fb","name":"STEP 3 - Schedule Run.","info":"","x":130,"y":400,"wires":[]},{"id":"df103030.84e8","type":"function","z":"dfac6e29.2f5fb","name":"prepareCall","func":"/*\nUse Bearer token to authenticate API call.\nIn this example, we will use the \"/v1/estate/energy/usage\" API\n*/\n\nvar aggURL = flow.get(\"serverURL\") + \"/api/Command\";\n\nmsg.method = \"POST\";\nmsg.url = aggURL;\nmsg.headers = {};\nmsg.headers.Authorization = flow.get(\"token\");\nmsg.headers[\"Content-Type\"] = \"multipart/form-data\";\n\nmsg.payload = {\n    \"Type\":'StartExperimentRun',\"Command\":{\"ExistingExperimentRunId\": flow.get(\"experimentRunId\") ,\"RunPlan\":true}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":460,"wires":[["6d4894ae.433a7c"]]},{"id":"6d4894ae.433a7c","type":"http request","z":"dfac6e29.2f5fb","name":"getAPIData","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4ae5d73d.91a7e8","persist":false,"proxy":"","authType":"","x":450,"y":440,"wires":[["b912f816.daf878"]]},{"id":"b912f816.daf878","type":"switch","z":"dfac6e29.2f5fb","name":"ifDataReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":520,"wires":[["11c1cf6d.7bec81","baf9756b.9f22f8"],["1e95b396.80d49c"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"1e95b396.80d49c","type":"debug","z":"dfac6e29.2f5fb","name":"noData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":540,"wires":[]},{"id":"11c1cf6d.7bec81","type":"debug","z":"dfac6e29.2f5fb","name":"dataReceived","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":500,"wires":[]},{"id":"baf9756b.9f22f8","type":"function","z":"dfac6e29.2f5fb","name":"prepareCall","func":"/*\nUse Bearer token to authenticate API call.\n*/\n\nvar aggURL = flow.get(\"serverURL\") + \"/api/Query\";\n\nmsg.method = \"POST\";\nmsg.url = aggURL;\nmsg.headers = {};\nmsg.headers.Authorization = flow.get(\"token\");\nmsg.headers[\"Content-Type\"] = \"multipart/form-data\";\n\nmsg.payload = {\n    \"Type\":'GetExperimentRuns',\"Query\":{\"ExperimentId\": flow.get(\"experimentId\") ,\"ReturnNonOwnedRuns\":false}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":659,"wires":[["f11b549.43a43a8"]]},{"id":"f11b549.43a43a8","type":"http request","z":"dfac6e29.2f5fb","name":"getAPIData","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4ae5d73d.91a7e8","persist":false,"proxy":"","authType":"","x":290,"y":779,"wires":[["7bbc4d9d.2df244"]]},{"id":"7bbc4d9d.2df244","type":"switch","z":"dfac6e29.2f5fb","name":"ifDataReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":779,"wires":[["3f03c767.454e38","89ec23cc.186d"],["a70761a7.ae3f1"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"a70761a7.ae3f1","type":"debug","z":"dfac6e29.2f5fb","name":"noData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":799,"wires":[]},{"id":"2b46c9f0.cfd076","type":"comment","z":"dfac6e29.2f5fb","name":"STEP 4 - Run Query Results","info":"","x":140,"y":619,"wires":[]},{"id":"3f03c767.454e38","type":"function","z":"dfac6e29.2f5fb","name":"getLastMessageStatus","func":"// get last element\n\nmsg.payload = msg.payload[0].AdditionalRunsStatus.pop();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":580,"wires":[["e5bab7e4.19abc8","e38e006.cf382"]]},{"id":"e5bab7e4.19abc8","type":"switch","z":"dfac6e29.2f5fb","name":"S eq 2","property":"payload.Status","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":639,"wires":[["c06fe794.1a75e8"],["c308f6f6.623238"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"6641697a.8aa7c8","type":"delay","z":"dfac6e29.2f5fb","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":759,"wires":[["baf9756b.9f22f8"]]},{"id":"8e156a1c.4fd558","type":"comment","z":"dfac6e29.2f5fb","name":"STEP 5 - Publish Schedule","info":"","x":130,"y":828,"wires":[]},{"id":"702ec131.853df","type":"http request","z":"dfac6e29.2f5fb","name":"getAPIData","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4ae5d73d.91a7e8","persist":false,"proxy":"","authType":"","x":450,"y":928,"wires":[["ccb9b950.05f4e8"]]},{"id":"3e01c581.36218a","type":"debug","z":"dfac6e29.2f5fb","name":"noData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":968,"wires":[]},{"id":"289096ce.56da2a","type":"debug","z":"dfac6e29.2f5fb","name":"dataReceived","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":888,"wires":[]},{"id":"ccb9b950.05f4e8","type":"switch","z":"dfac6e29.2f5fb","name":"ifDataReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":928,"wires":[["289096ce.56da2a"],["3e01c581.36218a"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"c06fe794.1a75e8","type":"function","z":"dfac6e29.2f5fb","name":"prepareCall","func":"/*\nUse Bearer token to authenticate API call.\nIn this example, we will use the \"/v1/estate/energy/usage\" API\n*/\n\nvar aggURL = flow.get(\"serverURL\") + \"/api/Command\";\n\nmsg.method = \"POST\";\nmsg.url = aggURL;\nmsg.headers = {};\nmsg.headers.Authorization = flow.get(\"token\");\nmsg.headers[\"Content-Type\"] = \"multipart/form-data\";\n\nmsg.payload = {\n    \"Type\":'PublishScenarioPlanResults',\"Command\":{\"ExperimentRunId\": flow.get(\"experimentRunId\") ,\"PublishDescription\": \"\" + flow.get(\"publishDesc\") + \"\",\"PublishName\": \"\" + flow.get(\"publishName\") + \"\"}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":928,"wires":[["702ec131.853df"]]},{"id":"e38e006.cf382","type":"debug","z":"dfac6e29.2f5fb","name":"dataReceived","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":580,"wires":[]},{"id":"89ec23cc.186d","type":"debug","z":"dfac6e29.2f5fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":759,"wires":[]},{"id":"79de4f24.f5a27","type":"inject","z":"dfac6e29.2f5fb","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":80,"wires":[["d2bc125e.65dc5"]]},{"id":"abdbb0cd.1af3e","type":"mqtt in","z":"dfac6e29.2f5fb","name":"","topic":"mes/downtimeEvent","qos":"2","datatype":"auto","broker":"2704fb0a.ba2db4","x":130,"y":160,"wires":[["d2bc125e.65dc5"]]},{"id":"c308f6f6.623238","type":"switch","z":"dfac6e29.2f5fb","name":"S lt 2","property":"payload.Status","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":659,"wires":[["6641697a.8aa7c8"],[]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"39ddb659.367fda","type":"comment","z":"dfac6e29.2f5fb","name":"STEP 2 - Find Experment Ids","info":"","x":140,"y":220,"wires":[]},{"id":"b78f07b6.261328","type":"function","z":"dfac6e29.2f5fb","name":"setIds","func":"// get ids\nvar expId = -1;\nvar expRunId = -1;\nexpId = msg.payload[0].ExperimentId;\nexpRunId = msg.payload[0].Id;\nflow.set(\"experimentId\", expId);\nflow.set(\"experimentRunId\", expRunId);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":220,"wires":[["df103030.84e8"]]},{"id":"562f6864.be6958","type":"function","z":"dfac6e29.2f5fb","name":"prepareCall","func":"/*\nUse Bearer token to authenticate API call.\n*/\n\nvar aggURL = flow.get(\"serverURL\") + \"/api/Query\";\n\nmsg.method = \"POST\";\nmsg.url = aggURL;\nmsg.headers = {};\nmsg.headers.Authorization = flow.get(\"token\");\nmsg.headers[\"Content-Type\"] = \"multipart/form-data\";\n\nmsg.payload = {\n    \"Type\":'GetExperimentRuns',\"Query\":{\"ReturnNonOwnedRuns\":false}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":300,"wires":[["85fee1a9.98cd2"]]},{"id":"85fee1a9.98cd2","type":"http request","z":"dfac6e29.2f5fb","name":"getAPIData","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4ae5d73d.91a7e8","persist":false,"proxy":"","authType":"","x":350,"y":300,"wires":[["293d5fd0.5030a"]]},{"id":"293d5fd0.5030a","type":"switch","z":"dfac6e29.2f5fb","name":"ifDataReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":300,"wires":[["4f96a347.26e32c","c48d9ffd.5b52c"],["f2e4a0f4.eae4e"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"c48d9ffd.5b52c","type":"debug","z":"dfac6e29.2f5fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":360,"wires":[]},{"id":"f2e4a0f4.eae4e","type":"debug","z":"dfac6e29.2f5fb","name":"noData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":380,"wires":[]},{"id":"93168be1.bfed28","type":"switch","z":"dfac6e29.2f5fb","name":"projectNameFound","property":"payload[0].ProjectName","propertyType":"msg","rules":[{"t":"eq","v":"projectName","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":220,"wires":[["b78f07b6.261328"],["f36e940d.4c1d48"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"f36e940d.4c1d48","type":"function","z":"dfac6e29.2f5fb","name":"removeFirstRow","func":"// remove first element\nmsg.payload.shift();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":300,"wires":[["4f96a347.26e32c","c48d9ffd.5b52c"]]},{"id":"4f96a347.26e32c","type":"switch","z":"dfac6e29.2f5fb","name":"len > 0","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":240,"wires":[["93168be1.bfed28"],[]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"4ae5d73d.91a7e8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"2704fb0a.ba2db4","type":"mqtt-broker","z":"","name":"","broker":"10.74.64.48","port":"1883","clientid":"nodeRed","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"mes/downtimeEvent","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]